<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<i class="fa fa-cube" ></i>
	</a>

</header>

<div class="text-center sidebar-title">
	UDI COHEN
</div>	

{% if site.author.bio %}
<div class="text-center sidebar-bio">
	{{ site.author.bio }}
</div>
{% endif %}

	<!-- <i class="fa fa-square"></i> -->

<div class="text-center sidebar-links">
	<a href="{{ site.BASE_PATH }}/">Home</a>
	| 
	<a href="{{ site.BASE_PATH }}/archives">Archives</a>	
	|
	<a href="{{ site.BASE_PATH }}/about">About</a>
</div>

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		{% if site.author.twitter %}
		<li>
			<a class="btn btn-default btn-sm twitter" href="https://twitter.com/{{ site.author.twitter }}">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.github %}
		<li>
			<a class="btn btn-default btn-sm github" href="https://github.com/{{ site.author.github }}">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li>
			<a class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.linkedin %}
		<li>
			<a class="btn btn-default btn-sm linkedin" href="https://linkedin.com/in/{{ site.author.linkedin }}">
				<i class="fa fa-linkedin fa-lg"></i>
			</a>
		</li>
		{% endif %}
	</ul>
	<ul class="list-unstyled list-inline">
		{% if site.author.pinterest %}
		<li>
			<a class="btn btn-default btn-sm" href="https://pinterest.com/{{ site.author.pinterest }}">
				<i class="fa fa-pinterest fa-lg"></i>
			</a>
		</li>
		{% endif %}
		<li>
			<a class="btn btn-default btn-sm rss" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="fa fa-rss fa-lg"></i>
			</a>
		</li>
	</ul>
</div>
<! -- sidebar.html end -->
